@font-face {
  font-family: Fira Code;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraCode/FiraCode-Regular.woff2"),
       url("../fonts/FiraCode/FiraCode-Regular.woff");
}

@font-face {
  font-family: Fira Code;
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/FiraCode/FiraCode-Medium.woff2"),
       url("../fonts/FiraCode/FiraCode-Medium.woff");
}

@font-face {
  font-family: Fira Code;
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/FiraCode/FiraCode-SemiBold.woff2"),
       url("../fonts/FiraCode/FiraCode-SemiBold.woff");
}