$white: #FFFFFF;
$gray: #9CA3AF;

.trades-content-right-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  &:not(:last-child) {
    padding-bottom: 1.5rem;
  }
  span {
    color: $gray;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &-flex {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    h4 {
      font-family: Fira Code;
      font-size: 0.875rem;
      color: $white;
      line-height: 1.25rem;
      font-weight: 400;
      text-align: end;
      span {
        color: $gray;
      }
    }
  }
}